<p>You walk over to your computer.</p>

<p>Wait, what's the neighbor's password?</p>

<p>The neighbor's kid might know, but that jerk steals your garden gnomes and smashes them in the street. He probably won't help you.</p>

<p>The alternative would be to break into the house and connect a long internet cable from his router to your computer.</p>

<p>Throw rocks at the neighbor's kid's window to see if the little jerk will give it to you? Or break in?</p>

<button routerLink="/window">Rocks. And also try to break the window.</button>
<button routerLink="/window">I'M BREAKING IN!</button>
