<form class="form-group">
  <label>Your name</label>
  <input class="form-control" #newName required>

  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a8/The_Dress_%28viral_phenomenon%29.png/220px-The_Dress_%28viral_phenomenon%29.png"/> <br>
  <label>Is this dress blue and black or white and gold</label>
  <input class="form-control" required>

  <label>iPhone or Android?</label>
  <input class="form-control" required>

  <label>Coke or Pepsi?</label>
  <input class="form-control" required>

  <label>What does the fox say?</label>
  <input class="form-control" required>

  <button class="btn btn-primary" routerLink="in-bed">Enter</button>
</form>
