<p>It's now 4 am.</p>

<p>You're safe, you're warm, but you're still awake.</p>

<p>You realize you don't have a Netflix account. Lose 50 points.</p>
<br>

<p>You need to find a way to sleep.</p>

<p>Bore yourself with some education Netflix documentary?</p>
<p>Cuddle with your dog?</p>
<p>Get some food?</p>
<br>

<button routerLink="/you-lose-nf">Make a Netflix Account from your Phone.</button>
<button routerLink="/cuddle-dog">Cuddle with your Dog.</button>
<button routerLink="/win">Grab Food.</button>
